@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 37.5rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    text-align: left;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
}

h3 {
    margin: 0.625rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.2;
}

.question-title {
    align-items: center;
    background-color: rgb(102, 69, 221);
    border-radius: 0.313rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: 13.5rem;
    width: 37.5rem;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 1.438rem 0;
}

.question-block {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.313rem;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 1px;
    height: auto;
    margin-bottom: .938rem;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 17.875rem;
}

.question-block p {
    font-size: 0.688rem;
    font-style: italic;
}

.question-block a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.answer-block {
    align-items: center;
    background-color: rgb(255, 61, 158);
    border-radius: 0.313rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 37.5rem;
}

.answer-block img {
    width: 90%;
}